.buttonReset {
  padding: 0;
  border: none;
  background: none;
}

.CTA-button {
  --button-background: var(--text1);
  --button-color: var(--surface1);
  --button-border-color: var(--text1);

  --button-background-hover: var(--surface2);
  --button-color-hover: var(--text1);
  --button-border-color-hover: var(--text1);

  --button-height: var(--size-2xl);
  --button-padding-inline: var(--size-lg);


  background-color: var(--button-background);
  color: var(--button-color);
  border-width: var(--border-thin);
  border-color: var(--button-border-color);
  border-style: solid;
  padding-inline: var(--button-padding-inline);
  height: var(--button-height);
  padding-block: 0;

  font-family: var(--fontFamilyMono);
  font-weight: 400;
  font-size: var(--s0);
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  width: max-content;
  position: relative;

  transition: box-shadow .15s;

  text-decoration: unset;
  box-shadow: var(--shadow-default);

  // remove link (external) display
  &:after {
    content: '' !important;
  }


  &:hover {
    --button-background: var(--button-background-hover) !important;
    --button-color: var(--button-color-hover) !important;
    --button-border-color: var(--button-border-color-hover) !important;
  }

  &:active {
    box-shadow: none;
  }

  &.-small {
    --button-height: var(--size-xl);
    --button-padding-inline: var(--size-s);
  }

  &.-active {
    background-color: var(--button-background-hover);
    color: var(--button-color-hover);
    border-color: var(--button-border-color-hover);

    box-shadow: none;
  }

  &.-secondary {
    --button-background: var(--surface1);
    --button-color: var(--text1);
    --button-border-color: var(--text1);

    --button-background-hover: var(--surface1);
    --button-color-hover: var(--brand);
    --button-border-color-hover: var(--brand);
  }

  &.-stealth {
    --button-background: transparent;
    --button-color: var(--text1);
    --button-border-color: transparent;

    --button-background-hover: transparent;
    --button-color-hover: var(--brand);
    --button-border-color-hover: transparent;

    box-shadow: none;
  }

  &.-destructive {
    padding-inline-start: 0;

    &:before {
      border: var(--border-thin) solid transparent;
      content: '⨯';
      background: var(--button-color);
      color: var(--button-background);
      height: calc(100% - var(--border-thin));

      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-end: var(--button-padding-inline);
      font-family: var(--fontFamilyMono);
      font-size: var(--s1);
    }

    @supports not (aspect-ratio: 1) {
      padding-inline-start: var(--button-padding-inline);
      &:before {
        display: none;
      }

    }
  }
}
