.buttonReset {
  padding: 0;
  border: none;
  background: none;
}

.CTA-button {
  background-color: var(--text1);
  color: var(--surface1);
  border-width: var(--border-thin);
  border-color: var(--text1);
  border-style: solid;
  padding-inline: var(--size-lg);
  height: var(--size-2xl);

  font-family: var(--fontFamilyMono);
  font-weight: 400;
  font-size: var(--s0);
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  width: max-content;
  position: relative;

  transition: box-shadow .15s;

  text-decoration: unset;
  box-shadow: var(--shadow-default);
  // box-shadow: 4px 4px 0 var(--brand);


  // remove link (external) display
  &:after {
    content: '' !important;
  }


  &:hover {
    background-color: var(--brand);
    color: var(--surface1);
    border-color: var(--brand);
  }

  &:active {
    box-shadow: none;
    background-color: var(--brand);
    color: var(--surface1);
    border-color: var(--brand);
    box-shadow: none;
  }

  &.-small {
    height: var(--size-xl);
    padding-inline: var(--size-s);
  }

  &.-active {
    background-color: var(--brand);
    color: var(--surface1);
    border-color: var(--brand);
    box-shadow: none;

  }

  &.-secondary {
    background-color: var(--surface1);
    color: var(--text1);
    border-color: var(--text1);
  }

  &.-secondary:hover {
    background-color: var(--surface1);
    color: var(--brand);
    border-color: var(--brand);
  }

  &.-secondary.-active {
    background-color: var(--surface1);
    color: var(--brand);
    border-color: var(--brand);
    box-shadow: none;
  }

  &.-stealth {
    background-color: transparent;
    color: var(--text1);
    border-color: transparent;
    box-shadow: none;
  }

  &.-stealth:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: transparent;
    box-shadow: none;
  }
}
