.note {
    padding-inline: var(--size-xl);
    width: 100%;
    padding-block: var(--gap, var(--defaultPadding-vertical));
    background-color: var(--surface2);
    color: var(--text2);
    position: relative;

    &.-info:before, &.-warning:before {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-40%, -40%);
      background-color: var(--text1);
      color: var(--surface1);
      inline-size: 1.48em;
      block-size: 1.48em;
      line-height: 1;
      font-size: var(--s1);
      position: absolute;
      left: 0;
      top: 0;
    }

    &.-info:before {
      content: "?";
    }

    &.-warning:before {
      content: "!";
    }
}
