.pagination {
  border-top: var(--border-thin) solid var(--text1);
  padding-top: var(--size-2xl);
  display: flex;
  justify-content: center;
}

.paginationNav {
  align-items: center;
}

.paginationEl {
  font-size: var(--s1);

  &[aria-current="page"] {
    color: var(--brand);
    --fontWeight: var(--fontWeightBold)
  }
}


.paginationIcon {
  width: var(--size-xl);
  height: var(--size-2xl);
  padding: var(--size-xs);
  display: block;

  &:hover:not([aria-disabled]) {
    color: var(--brand);
  }

  svg {
    width: 100%;
    height:100%;
    display: block;
  }
}
