.jshsj-tag {
  --color: currentColor;

  font-family: var(--fontFamilyMono);
  color: var(--color);
  border: var(--border-thin) solid var(--color);
  padding: var(--size-xs) var(--size-s);
  text-transform: lowercase;
  --fontWeight: var(--fontWeightMedium);
  width: max-content;
  max-width: max-content;
  line-height: 1;

  .-dark {
    --color: var(--surface1);
  }

  .-light {
    --color: var(--text1);
  }
}
