:root {
  /* COLORS */
  --brand-hue: 336;
  --brand-saturation: 100%;
  --brand-lightness: 64%;

  --brand2-hue: 22;

  /* LIGHT */

  --brand-light: hsl(var(--brand-hue) 100% 48%);
  --brand2-light: hsl(var(--brand2-hue) 100% 48%);
  --text1-light: hsl(var(--brand-hue) 0% 8%);
  --text2-light: hsl(var(--brand-hue) 3% 24%);
  --surface1-light: hsl(var(--brand-hue) 0% 97%);
  --surface2-light: hsl(var(--brand-hue) 16% 92%);
  --shadow-strength-light: .48;
  --shadow-color-light: var(--brand-hue), 4%, 8%;

  --shadow-color-background-light: var(--brand-hue), 4%, 8%;
  --shadow-strength-background-light: 0;

  --code-background-light: hsl(var(--brand-hue) 20% 99%);
  --code-color-keyword-light: hsl(calc(var(--brand-hue) + 60) 100% 48%);
  --code-color-string-light: hsl(calc(var(--brand-hue) + 280) 100% 48%);
  --code-color-punctuation-light: var(--brand);
  --code-color-operator-light: hsl(calc(var(--brand-hue) + 230) 100% 48%);
  --code-color-tag-light: hsl(calc(var(--brand-hue)) 100% 16%);
  --code-color-plain-text-light: var(--text1);


  /* DARK */

  --brand-dark: hsl(var(--brand-hue) 100% 48%);
  --brand2-dark: hsl(var(--brand2-hue) 100% 64%);
  --text1-dark: hsl(var(--brand-hue) 96% 98%);
  --text2-dark: hsl(var(--brand-hue) 4% 88%);
  --surface1-dark: hsl(var(--brand-hue) 6% 1%);
  --surface2-dark: hsl(var(--brand-hue) 21% 25%);

  --shadow-strength-dark: .88;
  --shadow-color-dark: var(--brand-hue), 4%, 8%;

  --shadow-color-background-dark: var(--brand-hue), 92%, 88%;
  --shadow-strength-background-dark: .48;

  --code-background-dark: hsl(var(--brand-hue) 16% 5%);
  --code-color-keyword-dark: hsl(calc(var(--brand-hue) + 60) 100% 64%);
  --code-color-string-dark: hsl(calc(var(--brand-hue) + 280) 100% 64%);
  --code-color-punctuation-dark: var(--brand);
  --code-color-operator-dark: hsl(calc(var(--brand-hue) + 230) 100% 64%);
  --code-color-tag-dark: hsl(calc(var(--brand-hue)) 100% 64%);
  --code-color-plain-text-dark: var(--text1-dark);

  --ratio: 1.48;

  --fluid-min-width: 320;
  --fluid-max-width: 1680;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
  --s-5: calc(0.42625rem + -3.4400000000000004 * var(--fluid-bp));
--s-4: calc(0.52875rem + -3.460000000000001 * var(--fluid-bp));
--s-3: calc(0.655625rem + -3.09 * var(--fluid-bp));
--s-2: calc(0.813125rem + -2.049999999999999 * var(--fluid-bp));
--s-1: calc(1.008125rem + 0.08999999999999986 * var(--fluid-bp));
--s0: calc(1.25rem + 4 * var(--fluid-bp));
--s1: calc(1.55rem + 10.720000000000002 * var(--fluid-bp));
--s2: calc(1.921875rem + 21.82 * var(--fluid-bp));
--s3: calc(2.383125rem + 39.669999999999995 * var(--fluid-bp));
--s4: calc(2.955rem + 67.87 * var(--fluid-bp));
--s5: calc(3.664375rem + 111.78999999999999 * var(--fluid-bp));
--s7: calc(5.634375rem + 283.14 * var(--fluid-bp));
--s9: calc(8.66375rem + 679.03 * var(--fluid-bp));
--s11: calc(13.32125rem + 1577.8400000000001 * var(--fluid-bp));


--size-3xs: 0.0875em;
--size-2xs: 0.125em;
  --size-xs: 0.25em;
  --size-s: 0.5em;
  --size-md: 1em;
  --size-lg: 1.5em;
  --size-xl: 2em;
  --size-2xl: 3em;
  --size-3xl: 4em;
  --size-4xl: 5em;
}

@media screen and (min-width: 1680px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

