// Layout classes that handle 80% of the layout

.box {
  padding-inline: var(--gap, var(--defaultPadding-horizontal));
  padding-block: var(--gap, var(--defaultPadding-vertical));
}

.stack {
  display: grid;
  gap: var(--gap, var(--size-md));
  grid-template-columns: minmax(0, 1fr);
  align-items: flex-start;
}

.stack.-stretched {
  width: 100%;
}



.flow > * + * {
  margin-block-start: var(--gap, var(--size-md));
}

.flow > *:is(h1,h2,h3,h4,h5,h6) {
  --gap: var(--size-lg);
}

.flow > p + p {
  --gap: var(--size-md);
}

.flow > figure {
  margin-inline: calc(var(--defaultPadding-horizontal) / -1);
  width: calc(100% + calc(var(--defaultPadding-horizontal) * 2));
}

.flow .breakAfter {
    margin-block-end: auto;
}

.section {
  padding-block: var(--sectionPadding);
}

.layout-container {
  margin-inline: auto;
  width: 100%;
  max-width: var(--container-max-width);
  padding-inline: var(--defaultPadding-horizontal);
  display: grid;
  grid-template-columns: minmax(10rem, var(--main-max-width)) minmax(0, 1fr);
  justify-items: start;
}

.layout-container > *:not(figure, .full-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

.layout-container > figure,  .layout-container > .full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap, var(--s1));
}

.with-sidebar {
  --min-size: 50%;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap, var(--s3));
}

.with-sidebar [data-aside] {
    flex-grow: 1;
    min-width: min-content;
}

.with-sidebar [data-grow] {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--min-size);
}

.blog-layout {
  row-gap: var(--gap, var(--s3));
  align-items: flex-start;

  @media screen and (min-width: 1560px) {
    column-gap: var(--gap, var(--s3));
  }
}

.-layout-2xl {
  --gap: var(--size-2xl)
}

.-layout-xl {
  --gap: var(--size-xl)
}

.-layout-l {
  --gap: var(--size-lg)
}

.-layout-m {
  --gap: var(--size-md)
}

.-layout-s {
  --gap: var(--size-s)
}

.-layout-xs {
  --gap: var(--size-xs)
}

.-layout-2xs {
  --gap: var(--size-2xs)
}
.-layout-3xs {
  --gap: var(--size-3xs);
}

.-layout-reset {
  --gap: initial;
}
