/* COLORS */

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --brand2: var(--brand2-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);

    --code-background: var(--code-background-light);
  --code-color-keyword: var(--code-color-keyword-light);
    --code-color-string: var(--code-color-string-light);
    --code-color-punctuation: var(--code-color-punctuation-light);
    --code-color-operator: var(--code-color-operator-light);
    --code-color-tag: var(--code-color-tag-light);
    --code-color-plain-text: var(--code-color-plain-text-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background), var(--shadow-strength-background));
    // --shadow-default: var(--size-3xs) var(--size-3xs) var(--size-2xs) var(--shadow-foreground), var(--size-3xs) var(--size-3xs) var(--size-md) var(--shadow-background);

    --shadow-default: var(--size-xs) var(--size-xs) 0 var(--brand);
   
}


@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --brand2: var(--brand2-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);

    --shadow-color: var(--shadow-color-dark);
    --shadow-color-background: var(--shadow-color-background-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --shadow-strength-background: var(--shadow-strength-background-dark);

        --code-background: var(--code-background-dark);
    --code-color-keyword: var(--code-color-keyword-dark);
    --code-color-string: var(--code-color-string-dark);
    --code-color-punctuation: var(--code-color-punctuation-dark);
    --code-color-operator: var(--code-color-operator-dark);
    --code-color-tag: var(--code-color-tag-dark);
    --code-color-plain-text: var(--code-color-plain-text-dark);

    --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
    --shadow-background: hsl(var(--shadow-color-background-dark), var(--shadow-strength-background-dark));
    // --shadow-default: var(--size-3xs) var(--size-3xs) var(--size-2xs) var(--shadow-foreground), var(--size-3xs) var(--size-3xs) var(--size-md) var(--shadow-background);

    --shadow-default: var(--size-xs) var(--size-xs) 0 var(--brand);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --brand2: var(--brand2-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

      --code-background: var(--code-background-light);
  --code-color-keyword: var(--code-color-keyword-light);
    --code-color-string: var(--code-color-string-light);
    --code-color-punctuation: var(--code-color-punctuation-light);
    --code-color-operator: var(--code-color-operator-light);
    --code-color-tag: var(--code-color-tag-light);
    --code-color-plain-text: var(--code-color-plain-text-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background-light), var(--shadow-strength-background-light));
  --shadow-default: var(--size-3xs) var(--size-3xs) var(--size-2xs) var(--shadow-foreground), var(--size-3xs) var(--size-3xs) var(--size-md) var(--shadow-background);

  --shadow-default: var(--size-xs) var(--size-xs) 0 var(--brand);

}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --brand2: var(--brand2-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);

        --code-background: var(--code-background-dark);
  --shadow-color: var(--shadow-color-dark);
  --shadow-color-background: var(--shadow-color-background-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --shadow-strength-background: var(--shadow-strength-background-dark);

  --code-color-keyword: var(--code-color-keyword-dark);
    --code-color-string: var(--code-color-string-dark);
    --code-color-punctuation: var(--code-color-punctuation-dark);
    --code-color-operator: var(--code-color-operator-dark);
    --code-color-tag: var(--code-color-tag-dark);
    --code-color-plain-text: var(--code-color-plain-text-dark);

  // For some reason we can't set these on root without them beng fucked
  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background-dark), var(--shadow-strength-background-dark));
  // --shadow-default: var(--size-3xs) var(--size-3xs) var(--size-2xs) var(--shadow-foreground), var(--size-3xs) var(--size-3xs) var(--size-md) var(--shadow-background);
  --shadow-default: var(--size-xs) var(--size-xs) 0 var(--brand);
}

/* SOME OTHER APPLIED DEFAULTS */

:root {
  --border-thin: var(--size-3xs);
  --border-thick: var(--size-2xs);

  --shadow-raised: var(--size-3xs) var(--size-3xs) 0.48em var(--shadow-color-default);


  --defaultSpacing: var(--size-md);
  --defaultPadding-horizontal: var(--size-md);
  --defaultPadding-vertical: var(--size-md);

  --sectionPadding: var(--size-2xl);
  --contentPadding: var(--defaultPadding-vertical) var(--defaultPadding-horizontal);

  --main-max-width: 48em;
  --container-max-width: 70em;

  --headerHeight: calc(var(--s5));
}
