@use "./_base/index.scss";

@use "./utils/typo.scss";
@use "./utils/spacings.scss";

@use "./components/buttons";
@use "./components/links";
@use "./components/headlines";

.relative {
  position: relative;
}

.extra-links {
  border-top: var(--border-thick) solid var(--text1);
  padding-block: var(--defaultPadding-vertical);
}

.list-reset {
  list-style: none;

  li {
    margin-inline: 0;
  }
}