---
import type {Project} from "@/types/Project.type"
import { slugify } from '@/utils/slugify';
import { sortByDateDesc } from '@/utils/sortByDate';

import DefaultLayout from "@/layouts/DefaultLayout.astro";

import Circle from '@/components/Circle.astro';
import ProjectList from "@/components/ProjectList.astro"

const allProjects = await Astro.glob<Project>("../../content/Projekte/*.md");
const formattedProjects = allProjects.map(project => ({
    ...project.frontmatter,
    slug: slugify(project.frontmatter.title),
})).sort(sortByDateDesc)

---
<DefaultLayout title={"Meine Projekte"} description={"Alle möglichen und verschiedene Projekte, die ich gemacht habe. Meistens Webseiten."} canonical={Astro.canonicalURL}>

<div class="section layout-container mt-header">
    <div class="stack -layout-xl">
    <h1 class="section-title -with-dot -dot-top">Projekte</h1>
    <ProjectList projects={formattedProjects}></ProjectList>
    </div>
</div>
</DefaultLayout>
