.mt-header {
  margin-top: var(--headerHeight);
}

.ml-auto {
  margin-left: auto;
}

.pblock-0 {
  padding-block: 0;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}