.mt-header {
  margin-top: calc(103px + var(--s3));
}

.ml-auto {
  margin-left: auto;
}

.pblock-0 {
  padding-block: 0;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}