---
const { content } = Astro.props
---

<div>
{content.rich_text.map(part => {
  switch (part.type) {
    case "text": {
      return <p>{part.text.content}</p>
    }
    default: {
      return
    }
  }
})}
</div>