.buttonReset {
  padding: 0;
  border: none;
  background: none;
}

.CTA-button {
  padding: var(--s-1);
  background-color: var(--text1);
  color: var(--surface1);
  border-width: var(--border-thin);
  border-color: var(--text1);
  border-style: solid;
  padding-inline: var(--s2);
  height: 3em;

  font-family: var(--fontFamily);
  --fontWeight: 480;
  font-size: var(--s0);
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  width: max-content;
  position: relative;

  transition: box-shadow .15s;


  &:hover {
    background-color: var(--text2);
    color: var(--surface1);
    border-color: var(--text2);
    box-shadow: calc(var(--s-1) * -1) calc(var(--s-1) * -1) 0 var(--s-5) var(--surface1), calc(var(--s-1) * -1) calc(var(--s-1) * -1) 0 var(--s-4) var(--text1);

  }

  &.-secondary {
    background-color: var(--surface1);
    color: var(--text1);
    border-color: var(--text1);
  }

  &.-secondary:hover {
    background-color: var(--surface2);
    color: var(--text2);
    box-shadow: calc(var(--s-1) * -1) calc(var(--s-1) * -1) 0 var(--s-5) var(--text1), calc(var(--s-1) * -1) calc(var(--s-1) * -1) 0 var(--s-4) var(--text1);
  }
}
