.buttonReset {
  padding: 0;
  border: none;
  background: none;
}

.CTA-button {
  padding: var(--s-1);
  background-color: var(--text1);
  color: var(--surface1);
  border-width: var(--border-thin);
  border-color: var(--text1);
  border-style: solid;
  padding-inline: var(--s2);
  height: 3em;

  font-family: var(--fontFamily);
  --fontWeight: 480;
  font-size: var(--s0);
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  width: max-content;
  position: relative;

  transition: box-shadow .15s;

  text-decoration: unset;
  box-shadow: var(--shadow-default);

  // remove link (external) display
  &:after {
    content: '' !important;
  }


  &:hover {
    background-color: var(--brand);
    color: var(--surface1);
    border-color: var(--brand);
  }

  &:active {
    box-shadow: none;
  }

  &.-secondary {
    background-color: var(--surface1);
    color: var(--text1);
    border-color: var(--text1);
  }

  &.-secondary:hover {
    background-color: var(--surface1);
    color: var(--brand);
    border-color: var(--brand);
  }

  &.-stealth {
    background-color: transparent;
    color: var(--text1);
    border-color: transparent;
    box-shadow: none;
  }

  &.-stealth:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: transparent;
    box-shadow: none;
  }
}
