.extra-links {
  border-top: var(--border-thick) solid var(--text1);
  padding-block: var(--defaultPadding-vertical);
}

.footnotes {
  margin-top: var(--s3);
  padding-block: var(--defaultPadding-vertical);
}