---
const { collection } = Astro.props;

import { slugify} from "../scripts/slugify"
import { getAllProjects } from "../scripts/notion"

import DefaultLayout from "../layouts/DefaultLayout.astro";

import Circle from '../components/Circle.astro';

import NotionRichText from "../components/notion/NotionRichText.astro"
import NotionURL from "../components/notion/NotionURL.astro"
import NotionTitle from "../components/notion/NotionTitle.astro"

import IconPageLink from "../components/icons/Icon-PageLink.astro"

export async function createCollection() {
const allProjects = await getAllProjects()


  return  {
    routes: allProjects.map((p, i) => {
      return {slug: p.slug, index: i}
    }),
    permalink: ({params}) => `/projekte/${params.slug}`,
    async data({ params }) {
      return [allProjects[params.index]];
    },
  }

}
---
<DefaultLayout>
<div class="layoutContainer mt-header">
    <a href="/projekte">Zurücj</a>
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>
    <NotionTitle content={collection.data[0].name}></NotionTitle>
    </h2>
</div>
</DefaultLayout>
