---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogList from "../components/BlogList.astro"
import { slugify } from '../scripts/slugify';
import { sortByDateDesc } from '../scripts/sortByDate';


const allBlog = await Astro.fetchContent("../content/Blog/*.md");
const formattedBlogposts = allBlog.map(project => ({
    ...project,
    slug: slugify(project.title),
})).sort(sortByDateDesc)
---

<DefaultLayout>
<div class="section layout-container | mt-header">
  <div class="stack -layout-xl w-full">
    <h1 class="section-title -with-dot -dot-top">Blog</h1>
    <BlogList blogPosts={formattedBlogposts}></BlogList>
    </div>
</div>
</DefaultLayout>