---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---
<DefaultLayout title={"Ich in Zahlen"} description={"Für den schnellen Blick. Einmal gucken und mehr wisse. Oder auch nicht."} canonical={Astro.request.canonicalURL}>
<div class="layout-container flow | mt-header">
          <h1 class="section-title">In Zahlen</h1>
          <p>Kommt noch</p>
        </div>
</DefaultLayout>
