---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>
<div class="layout-container flow | mt-header">
          <h1>In Zahlen</h1>
          <p>IN PROGRESS</p>
        </div>
</DefaultLayout>