---
import Welcome from '../components/Welcome.astro';
import ProjectReel from '../components/ProjectReel.astro';
import Circle from '../components/Circle.astro';
import Tour from '../components/Tour.astro';


import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout>
<div>
    <Welcome></Welcome>
    <ProjectReel></ProjectReel>
    <Tour></Tour>
</div>
</DefaultLayout>
