---
import { Project } from "@/types/Project.type"
import { slugify } from "@/utils/slugify"
import { sortByDateDesc } from "@/utils/sortByDate"

import Welcome from '@/components/Welcome.astro';
import ProjectReel from '@/components/ProjectReel.astro';
import PersonalReel from '@/components/PersonalReel.astro';
import ShareTheMeal from "@/components/ShareTheMeal.astro";


import DefaultLayout from "@/layouts/DefaultLayout.astro";

const allProjects = await Astro.glob<Project>("/src/content/Projekte/*.md");
const formattedProjects = allProjects.map(project => ({
    ...project.frontmatter,
    slug: slugify(project.frontmatter.title),
})).sort(sortByDateDesc)
---
<DefaultLayout canonical={new URL(Astro.url.pathname, Astro.site)}>
<div class="stack -layout-xl">
    <Welcome></Welcome>
    <ShareTheMeal></ShareTheMeal>
    <!-- <ProjectReel projects={formattedProjects}></ProjectReel> -->
    <PersonalReel></PersonalReel>
</div>
</DefaultLayout>
