---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { getTranslation } from "@/intl/getTranslation"
---
<style lang="scss">

.cv {
    .result {
        font-family: var(--font-family-sans);
        --font-weight: var(--font-weight-medium);
        font-size: var(--font-size-base);
        display: block;
        color: var(--color-text-2);
    }

    p[data-label]:before {
        content: attr(data-label);
        font-family: var(--font-family-mono);
        padding: var(--size-relative-xs) 0;
        line-height: 1;
        font-weight: 400;
        font-size: var(--font-size-sm);
        display: block;
    }

    h3[data-label]:after {
            content: attr(data-label);
            font-family: var(--font-family-mono);
            padding: var(--size-relative-xs) 0;
            line-height: 1;
            font-weight: 400;
            font-size: var(--font-size-sm);
            display: block;
    }
}
</style>

<DefaultLayout title={"Ich in Zahlen"} description={"CV, skills, facts. Important to some, uninteresting to others."} canonical={new URL(Astro.url.pathname, Astro.site)}>
<div class="section layout-container stack -layout-2xl | mt-header">
          <h1 class="section-title">In Data: Joshua</h1>
          <section class="with-sidebar">
                <div class="contact stack -layout-lg" data-grow style="--min-size: 30%">
                    <div class="stack -layout-xs">
                        <h2>Who</h2>
                        <p>Joshua Stübner</p>
                        <p>15.09.1992</p>
                        <p>Dorfstr. 34</p>
                        <p>19273 Zeetze</p>
                    </div>
                    <div class="stack -layout-xs">
                        <h2>Contact</h2>
                        <p data-label="Telefon">+49 152 52481201</p>
                        <p data-label="Email">jshsj@hey.com</p>
                        <p data-label="Website">joshuastuebner.com</p>
                    </div>
                </div>
                <section class="entry summary" data-aside>
                    <h2 class="-with-dot">Summary</h2>
                    <p>
                        I'm an ambitious <strong>(Frontend) Web Entwickler</strong> with focus on<strong> solving problems, performance</strong> and <strong>usability</strong>.
                    </p>
                    <p>Self-taught, self-responsible with strong analytical skills, yet I like to work in a team.</p>
                    <p>I've got a very mixed bag of experiences and I'm always striving to improve myself and my work.
                    </p>
                    <p><strong>Frontend is my strong suite</strong>: Structured with Typescript, lots of love for CSS and a thorough interest in UX. I try to create interfaces, that are pleasant, yet effective to use</p>
                </section>
            </section>
          <div class="main stack short cv">
        <div class="page stack -layout-2xl">
                        <section class="entry stack -layout-xl">
                <h2 class="-with-dot">Education and training</h2>
                <div class="stack -layout-s">
                <h3 data-label="08.2003 - 07.2011">
                    Freiherr vom Stein Gymnasium, Leverkusen
                </h3>
                </div>
                <div class="stack -layout-s">
                <h3 data-label="10.2011 - 07.2015">
                    Rheinische Friedrich-Wilhelm-Universität, Bonn
                </h3>
                <p class="result">B.Sc., Psychologie</p>
                </div>
                <div class="stack -layout-s">
                <h3 data-label="03.2016 - Heute">
                    Learning and improving my skills in (web)-development
                </h3>
                <p class="result">Self taught and with online courses</p>
                </div>
            </section>
            <section class="entry knowledge stack -layout-xl">
                <h2 class="-with-dot">What I use</h2>
                <p data-label="Programming">
                    Javascript (ES6, React, Gatsby, Angular, Astro, Svelte, RXJS, Web Components), Typescript, HTML, CSS
                    (Sass/SCSS), minimal Golang
                </p>
                <p data-label="Tools">
                    Linux, PostgreSQL, NGINX, Git, Mac, Figma, Cloudflare
                    Workers, CI/CD with Github / Gitlab / Netlify / Sourcehut, Jira
                </p>
                <p data-label="Languages">
                    English (fluent), German (native), French (learning)
                </p>
            </section>
        </div>
        <div class="page stack -layout-2xl">
            <h2 class="-with-dot">Experience</h2>
            <section class="entry stack -layout-xl">
                <article class="stack -layout-s">
                    <h3 data-label="10.2015 - 02.2016">
                        Internship at Heuschrecke Naturkost GmbH, Troisdorf
                    </h3>
                    <p class="result"
                    >Insights in all positions of a small organic herb and tee wholesaler</p>
                    <ul class="optional">
                        <li>Administatrion of incoming and outgoing goods</li>
                        <li>
                            Managing orders
                        </li>
                        <li>Customer support</li>
                        <li>Work at mixing and packaging stations</li>
                    </ul>
                </article>
                <article class="stack -layout-s">
                    <h3 data-label="07.2016 - 08.2016">
                        Employee at Heuschrecke Naturkost GmbH, Troisdorf
                    </h3>
                    <p
                            class="result"
                    >General office work and customer support</p
                    >
                </article>
                <article class="stack -layout-s">
                    <h3 data-label="02.2018 - 08.2018">
                        Internship at Tat&Kraft, Berlin
                    </h3>
                    <p class="result"
                    >Insights into a 2-person Front- and Backend-Web-Development company</p>
                    <ul class="optional">
                        <li>
                            Coding prepared templates into responsive and functioning websites using HTML / Nunjucks,
                            (S)CSS, Vanilla JS and Vue
                        </li>
                        <li>
                            Work on company tooling and automation of processes using Gulp and JS
                        </li>
                        <li>
                            Insights into the company's PHP Backend
                        </li>
                    </ul>
                </article>
                <article class="stack -layout-s">
                    <h3 data-label="08.2017 - Today">
                        Self-Employement
                    </h3>
                    <p class="result"
                    >Webdevelopment, Social Media Management, Content Creation</p
                    >
                    <ul class="optional">

                        <li>
                            Design and development of websites and webapps using modern web-technologies and 
                            APIs
                        </li>
                        <li>Customer support and relations</li>
                        <li>Maintaining Social Media Accounts</li>
                        <li>
                            Writing articles and recipes on topics related to organic herbs and spices and their uses
                        </li>
                    </ul>
                </article>
            </section>
        </div>
        <div class="page stack -layout-2xl">
            <section class="entry stack -layout-xl">
                <article class="stack -layout-s">
                    <h3 data-label="09.2019 - 12.2019">
                        Internship at Strichpunkt Design, Berlin
                    </h3>
                    <p class="result"
                    >Webdevelopment in Angular, React and Vue</p
                    >
                </article>
                <article class="stack -layout-s">
                    <h3 data-label="01.2020 - 09.2020">
                        Frontend-Developer at Strichpunkt Design, Berlin
                    </h3>
                    <p
                            class="result"
                    >Technical consulting and development in Angular, React and
                        Vue</p
                    >
                    <ul class="optional">
                        <li>
                            Responsible for the frontend of a medium-scale Fintech webapp and website using React/Gatsby and Angular 
                        </li>
                        <li>
                            Coordination with customer and other internal and external design, development and SEO-teams
                        </li>
                        <li>
                            Close cooperation with internal teams for future development and perspectives of a client
                        </li>
                        <li>
                            Collaboration on a administration plattfom of a large post- and transport company
                        </li>
                        <li>
                            Collaboration on a graphically elaborate website for a foundation with insights into WebGL
                        </li>
                    </ul>
                </article>
                <article class="stack -layout-s">
                    <h3 data-label="01.2020 - 07.2021">
                        Frontend-Developer at Bloxxter, Hamburg
                    </h3>
                    <p
                            class="result"
                    >Web development in Angular and React. Responsible for the frontend of a real assets invesment plattform using blockchain technology</p
                    >
                    <ul class="optional">
                        <li>
                            Development and maintainance of the frontend
                        </li>
                        <li>
                            Frontend develpment of a customer dashboard (Angular / RXJS / Redux) with a custom built
                            shop system in close collaboration with the backend team
                        </li>
                        <li>
                            Development and maintainance of the backoffice with many customer and order related functions
                        </li>
                        <li>
                            Development of a smart contract wizard prototype and its implementation
                        </li>
                        <li>
                            Taking care of the Contentful CMS and Usercentrics
                        </li>
                        <li>
                            Insights into many processes of real asset investments
                        </li>
                    </ul>
                </article>
            </section>
        </div>
        <div class="page stack -layout-2xl">
            <section class="entry stack -layout-xl">
                <article class="stack -layout-s">
                    <h3 data-label="07.2021 - Heute">
                        Frontend-Developer at quirion, Berlin (Merger)
                    </h3>
                    <p
                            class="result"
                    >Continuation of the acitives and Bloxxter and development of multiple react-based web-apps</p
                    >
                    <ul
                            class="optional">
                        <li>
                            Taking over an existing component library by refactoring and developing further components
                            using Typescript, React and CSS-Modules
                        </li>
                        <li>
                            Developing a prototype of a trading app
                        </li>
                        <li>
                            Rebuilding the smart contract wizard in React
                        </li>
                    </ul>
                </article>
            </section>
            <section class="optional stack -layout-2xl">
                <h2 class="-with-dot">Interests</h2>
                <div class="entry">
                    <p data-label="Hobbies">
                        All things cooking and food, health & fitness, technology, music, photography, garding, crafts and animals
                    </p>
                </div>
            </section>

        </div>
        </div>
        </div>
</DefaultLayout>
