---
import { slugify } from '../scripts/slugify';
import { sortByDateDesc } from '../scripts/sortByDate';

import DefaultLayout from "../layouts/DefaultLayout.astro";

import Circle from '../components/Circle.astro';
import ProjectList from "../components/ProjectList.astro"

import IconPageLink from "../components/icons/Icon-PageLink.astro"

const allProjects = await Astro.fetchContent("../content/Projekte/*.md");
const formattedProjects = allProjects.map(project => ({
    ...project,
    slug: slugify(project.title),
})).sort(sortByDateDesc)

---
<DefaultLayout>
<div class="layout-container mt-header">
    <div class="stack">
    <h1 class="typo-hollow typo-3xl -bold -with-dot -dot-top">Projekte</h1>
    <ProjectList projects={formattedProjects}></ProjectList>
    </div>
</div>
</DefaultLayout>
