---
import { slugify } from '../scripts/slugify';

import DefaultLayout from "../layouts/DefaultLayout.astro";

import Circle from '../components/Circle.astro';
import ProjectList from "../components/ProjectList.astro"

import IconPageLink from "../components/icons/Icon-PageLink.astro"

const allProjects = await Astro.fetchContent("../content/Projekte/*.md");
const formattedProjects = allProjects.map(project => ({
    ...project,
    slug: slugify(project.title),
}))

---
<DefaultLayout>
<div class="layout-container mt-header">
    <div class="stack">
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>Projekte</h2>
    <ProjectList projects={formattedProjects}></ProjectList>
          <p>IN PROGRESS</p>

    </div>
</div>
</DefaultLayout>
