---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"
---

<DefaultLayout title={"Zeug, dass ich mag"} description={"Dinge, die ich mag. Von A wie guter Kakao bis Z wie CSS-Tricks."} canonical={Astro.canonicalURL}>
  <div class="layout-container flow | mt-header">
    <h1 class="section-title" data-translate="thingsILike.headline">{getTranslation('thingsILike.headline', DE)}</h1>
    <p><strong>Under construction</strong></p>
  </div>
</DefaultLayout>
