---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="layout-container flow | mt-header">
    <h1>Zeug das ich mag</h1>
    <p>Wird noch gebaut</p>
  </div>
</DefaultLayout>n