---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import Circle from "../components/Circle.astro"

---

<DefaultLayout>
<div class="layout-container flow | mt-header">
          <h1>Zeug das ich mag</h1>
          <p>IN PROGRESS</p>
          <Circle></Circle>

        </div>
</DefaultLayout>n