/* ELEMENT RESETS / BASE STYLES */

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,ul,ol,dl,figure,blockquote {
  margin-block: 0;
}

* {
   font-variation-settings: 'wght' var(--fontWeight);
}


:focus-visible, :focus {
  outline: var(--s-5) solid var(--brand);
  outline-offset: .64ch;
}

:focus:not(:focus-visible) { outline: none; }



html {
  block-size: 100%;
  inline-size: 100%;

  @media (--motionOK) { & {
    scroll-behavior: smooth;
  }}
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  margin: 0;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p,li,dd,dt,summary {
  max-inline-size: var(--measure);
  font-size: inherit;
  line-height: var(--lineHeight);
}



ol,ul, dl{
  display: flex;
  flex-direction: column;
  max-inline-size: max-content;
  padding-inline: 0;
}

ol,ul {
  gap: var(--s1);
}


li, dd {
  max-inline-size: calc(var(--measure) * 0.8);
  font-size: var(--s0);
  margin-inline: var(--s0);
}

dt {
  --fontWeight: var(--fontWeightRegular);
  color: var(--text2);
}

dd {
  --fontWeight: var(--fontWeightMedium);
  color: var(--text1);
}

dl {
  * + * {
    margin-top: var(--s-1);
  }

  * + dt {
    margin-top: var(--s1);
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

small {
  font-size: var(--s-1);
}

sup, small, figcaption {
  color: var(--text2);
}

details {
  width: 100%;
  background-color: var(--surface2);
  padding-inline: var(--defaultPadding-horizontal);
  padding-block: var(--defaultPadding-vertical);
  border-radius: 0;

  & > *:not(summary):first-of-type {
    margin-block-start: var(--s0);
  }

  & > summary {
    cursor: pointer;
    color: var(--text1);
    width: 100%;
  }

  &[open=""] {
    border: var(--border-thin) solid var(--surface2);
  }
}



blockquote {
  margin-inline: 0;
  padding-inline: var(--defaultPadding-horizontal);
  padding-block: var(--defaultPadding-vertical);
  background-color: var(--surface2);
  border-left: var(--border-thick) solid var(--text2);
}

hr {
  width: 100%;
  height: var(--s-5);
  border: none;
  background-color: var(--text1);
  opacity: 0.64;
}

h1,h2,h3,h4,h5,h6 {
  line-height: var(--lineHeight-small);
  color: var(--text1);
  overflow-wrap: break-word;
  max-width: 100%;
  hyphens: auto;

  > span {
    overflow-wrap: break-word;
    max-width: 100%;
    hyphens: auto;
  }
}

h1 {
  font-size: var(--s4);
  --fontWeight: var(--fontWeightBold);
}

h2 {
  font-size: var(--s3);
  --fontWeight: var(--fontWeightBold);
}

h3 {
  font-size: var(--s2);
  --fontWeight: var(--fontWeightBold);
}

h4 {
  font-size: var(--s1);
  --fontWeight: var(--fontWeightBold);
}
h5 {
  font-size: var(--s0);
  --fontWeight: var(--fontWeightBold);
}

h6 {
  font-size: var(--s-1);
  --fontWeight: var(--fontWeightBold);
}

// HTML AND BODY

html {
  font-size: calc(0.36vw + 1em);
}

body {

  --fontWeight: var(--fontWeightRegular);


  color: var(--text2);
  background-color: var(--surface1);

  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  font-variation-settings: 'wght' var(--fontWeight);
  font-style:normal;
  font-feature-settings: "calt", "liga";
}


::marker {
  color: var(--brand);
}

::selection, mark {
  background-color: var(--brand);
  color: var(--surface1);
}


a, .link {
  color: var(--text1);
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
  --fontWeight: var(--fontWeightMedium);
  text-decoration-color: currentColor;
  cursor: pointer;

  &:visited {
    color: color(display-p3 .5 0 1);
  }

  &:hover {
    // text-shadow: 0px 0px 1px var(--text2);
    text-decoration-color: var(--brand);
  }

  &[href^="https://"], &[href^="http://"], &[data-external] {

  &:after {
    content: "(Extern)";
    display: inline-block;
    font-size: calc(100% / var(--ratio));
    font-variation-settings: 'wght' var(--fontWeightRegular);
    margin-left: var(--s-5);
    margin-right: var(--s-5);
    transform: translateY(-0.125em);
    text-decoration: none;
    color: var(--text2);
  }
}
}

.relative {
  position: relative;
}

.list-reset {
  list-style: none;

  li {
    margin-inline: 0;
  }
}


strong {
  --fontWeight: var(--fontWeightMedium);
}

[aria-disabled=true], .disabled, :disabled {
  color: inherit;
  opacity: 0.48;
  cursor: not-allowed;
}

.text-assistive {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;

  &:focus {
    -webkit-clip-path: none;
    clip-path: none;
    z-index: 999;
    height: var(--s3);
    line-height: var(--s3);
    background: var(--surface2);
    font-size: var(--s0);
    text-decoration: none;
    color: var(--text1);
    text-align: center;
    padding-inline: var(--s1);
    --fontWeight: var(--fontWeightMedium);
  }
}
#content-start:focus {
  background: var(--surface2);
  color: var(--text1);
}

code {
  font-family: var(--fontFamilyMono);
}

pre {
  padding: var(--s0);
  width: 100%;
  max-width: var(--measure);
  overflow-x: auto;
  color: var(--text2);
  border: var(--border-thin) dashed var(--text2);
}