:root {
  /* COLORS */
  --brand-hue: 336;
  --brand-saturation: 100%;
  --brand-lightness: 64%;

  --brand2-hue: 22;

  /* LIGHT */

  --brand-light: hsl(var(--brand-hue) 100% 48%);
  --brand2-light: hsl(var(--brand2-hue) 100% 48%);
  --text1-light: hsl(var(--brand-hue) 0% 8%);
  --text2-light: hsl(var(--brand-hue) 3% 24%);
  --surface1-light: hsl(var(--brand-hue) 0% 97%);
  --surface2-light: hsl(var(--brand-hue) 16% 92%);
  --shadow-strength-light: .48;
  --shadow-color-light: var(--brand-hue), 4%, 8%;

  --shadow-color-background-light: var(--brand-hue), 4%, 8%;
  --shadow-strength-background-light: 0;


  /* DARK */

  --brand-dark: hsl(var(--brand-hue) 100% 48%);
  --brand2-dark: hsl(var(--brand2-hue) 100% 64%);
  --text1-dark: hsl(var(--brand-hue) 96% 98%);
  --text2-dark: hsl(var(--brand-hue) 4% 88%);
  --surface1-dark: hsl(var(--brand-hue) 6% 1%);
  --surface2-dark: hsl(var(--brand-hue) 21% 25%);

  --shadow-strength-dark: .88;
  --shadow-color-dark: var(--brand-hue), 4%, 8%;

  --shadow-color-background-dark: var(--brand-hue), 92%, 88%;
  --shadow-strength-background-dark: .48;



  /* SCALE */
    --ratio: 1.48;
  --s-5: calc(1rem / (var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)));
  --s-4: calc(1rem / (var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)));
  --s-3: calc(1rem / (var(--ratio) * var(--ratio) * var(--ratio)));
  --s-2: calc(1rem / (var(--ratio) * var(--ratio)));
  --s-1: calc(1rem / var(--ratio));
  --s0: 1rem;
  --s1: calc(1rem * var(--ratio));
  --s2: calc(1rem * var(--ratio) * var(--ratio));
  --s3:  calc(1rem * var(--ratio) * var(--ratio) * var(--ratio));
  --s4:  calc(1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5:  calc(1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

   --s7:  calc(1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s11: calc(1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)* var(--ratio)* var(--ratio)* var(--ratio)* var(--ratio)* var(--ratio));
}