/* COLORS */

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --brand2: var(--brand2-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background), var(--shadow-strength-background));
    --shadow-default: var(--s-5) var(--s-4) var(--s-3) var(--shadow-foreground), var(--s-5) var(--s-4) var(--s1) var(--shadow-background);
}


@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --brand2: var(--brand2-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);

    --shadow-color: var(--shadow-color-dark);
    --shadow-color-background: var(--shadow-color-background-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --shadow-strength-background: var(--shadow-strength-background-dark);

    --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
    --shadow-background: hsl(var(--shadow-color-background-dark), var(--shadow-strength-background-dark));
    --shadow-default: var(--s-5) var(--s-4) var(--s-3) var(--shadow-foreground), var(--s-5) var(--s-4) var(--s1) var(--shadow-background);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --brand2: var(--brand2-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background-light), var(--shadow-strength-background-light));
  --shadow-default: var(--s-5) var(--s-4) var(--s-3) var(--shadow-foreground), var(--s-5) var(--s-4) var(--s1) var(--shadow-background);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --brand2: var(--brand2-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);

  --shadow-color: var(--shadow-color-dark);
  --shadow-color-background: var(--shadow-color-background-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --shadow-strength-background: var(--shadow-strength-background-dark);

  // For some reason we can't set these on root without them beng fucked
  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(var(--shadow-color-background-dark), var(--shadow-strength-background-dark));
  --shadow-default: var(--s-5) var(--s-4) var(--s-4) var(--shadow-foreground), var(--s-5) var(--s-4) var(--s3) var(--shadow-background);
}

/* SOME OTHER APPLIED DEFAULTS */

:root {
  --border-thin: var(--s-5);
  --border-thick: var(--s-3);

  --shadow-raised: var(--s-4) var(--s-3) var(--s-2) var(--shadow-color-default);


  --defaultSpacing: var(--s1);
  --defaultPadding-horizontal: var(--s0);
  --defaultPadding-vertical: var(--s0);

  --sectionPadding: var(--s2);
  --contentPadding: var(--defaultPadding-vertical) var(--defaultPadding-horizontal);

  --containerMaxWidth: var(--s11);
  --sidebarMaxWidth: var(--s7);

  --headerHeight: calc(var(--s5));
}