@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-vf.ttf');
  font-display: optional;
  font-weight: 200 800;
}

:root {
    /* TYPOGRAPHY */

  --measure: 64ch;
  --fontFamily: "Manrope", system-ui, sans-serif;
  --fontFamily-serif: serif;
  --fontFamily-mono: monospace;
  --fontWeightRegular: 324;
  --fontWeightMedium: 480;
  --fontWeightBold: 710;
  --lineHeight: var(--ratio);
  --lineHeight-small: calc(0.8*var(--ratio));
}