.bg-surface2 {
  background-color: var(--surface2);
}

.fg-brand {
  color: var(--brand);
}

.border-thin {
  border: var(--border-thin) solid;

}

.border-thick {
  border: var(--border-thick) solid;

}

.border-text1 {
  border-color: var(--text1);
}
