.mt-header {
  margin-top: var(--s4);
}

.ml-auto {
  margin-left: auto;
}

.mt-s0 {
  margin-top: var(--s0);
}

.mt-s1 {
  margin-top: var(--s1);
}

.mt-s2 {
  margin-top: var(--s2);
}

.mb-s0 {
  margin-bottom: var(--s0);
}

.mb-s1 {
  margin-bottom: var(--s1);
}

.mb-s3 {
  margin-bottom: var(--s3);
}

.pblock-0 {
  padding-block: 0;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}
