---
export interface Props{
    crumbs: {
    url: string,
    name: string
  }[]
}

const {crumbs} = Astro.props;
---

<style style="scss">
.breadcrumbs {
  background-color: var(--color-text-1);
  color: var(--color-surface-1);
  width: max-content;
  max-width: 100%;
}

.breadcrumbs a {
  color: inherit;
}
.breadcrumbs a:not(:last-child) {
  --font-weight: var(--font-weight-regular);
}
 
.breadcrumbs a:not(:last-child):after {
    content: ' → '
  } {
}
</style>


<section class="box -layout-sm | breadcrumbs">
  {crumbs.map((part) => (<a href={part.url}>{part.name}</a>
  ))}
</section>

