---
---

<style>
.container {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  cursor: pointer;
}

svg {
  display: block;
  width: 100%;
}

.cat {
  position: absolute;
  inset: 0;
}

.cat-1 {
}

.cat-2 {
  opacity: 0;
}

.cat-3 {
  opacity: 0;
}

.-animating {
  --animation-duration: 0.2s;
  cursor: initial;

  & .cat-1 {
    animation: fade-out var(--animation-duration) forwards;
  }

  & .cat-2 {
    animation: fade-in-out calc(2 * var(--animation-duration)) calc(0.8 * var(--animation-duration)) forwards;
  }

  & .cat-3 {
    animation:
      fade-in var(--animation-duration) calc(2.4 * var(--animation-duration)) forwards,
      fly-away calc(var(--animation-duration) * 4) calc(3 * var(--animation-duration)) forwards;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fly-away {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-20rem, -500vh, 0);
  }
}

</style>

<div class="container">

<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="cat cat-1"><g clip-path="url(#a)"><path d="M76.631 381.29c7.042-6.036 8.593-55.014 5.659-75.448-1.153-16.976-9.746-46.275-12.26-54.071-3.144-9.745 4.4-33.637-24.836-44.954-3.754-1.454-2.2-16.348-3.144-20.749-.943-4.401 11.57-7.545 16.795-15.905 3.542-5.667 24.52-11.946 37.095-8.173 12.575 3.772 22.949 23.577 24.521 28.922 1.571 5.344 9.612 39.797 40.106 51.742 20.041 7.852 82.05 83.308 103.112 138.636 42.545-1.886 127.633-3.521 127.633 5.03 0 10.689-130.739 5.738-137.378 8.802-8.174 3.773-90.852-2.829-100.912 0-8.048 2.264-30.598-47.05-40.868-71.99-.209 22.32-6.601 64.948-11.631 71.99-5.03 7.042-18.233 3.773-30.494 3.773-.733-3.354-.44-11.569 6.602-17.605Z" fill="var(--color-text1)"/><path d="m69.086 143 7.23 23.578 19.177 1.571s2.515-5.973-1.572-10.374c-2.25-2.424-16.242-11.736-24.835-14.775Z" fill="var(--color-text1)"/><path d="M76.631 381.29c7.042-6.036 8.593-55.014 5.659-75.448-1.153-16.976-9.746-46.275-12.26-54.071-3.144-9.745 4.4-33.637-24.836-44.954-3.754-1.454-2.2-16.348-3.144-20.749-.943-4.401 11.57-7.545 16.795-15.905 3.542-5.667 24.52-11.946 37.095-8.173 12.575 3.772 22.949 23.577 24.521 28.922 1.571 5.344 9.612 39.797 40.106 51.742 20.041 7.852 82.05 83.308 103.112 138.636 42.545-1.886 127.633-3.521 127.633 5.03 0 10.689-130.739 5.738-137.378 8.802-8.174 3.773-90.852-2.829-100.912 0-8.048 2.264-30.598-47.05-40.868-71.99-.209 22.32-6.601 64.948-11.631 71.99-5.03 7.042-18.233 3.773-30.494 3.773-.733-3.354-.44-11.569 6.602-17.605Z" stroke="var(--color-text1)"/><path d="m69.086 143 7.23 23.578 19.177 1.571s2.515-5.973-1.572-10.374c-2.25-2.424-16.242-11.736-24.835-14.775Z" stroke="var(--color-text1)"/><path d="m62.484 175.694-1.572-2.829c-1.508-.252-2.829 3.143-1.571 4.401l3.143-1.572Z" fill="var(--color-brand)"/></g><defs><clipPath id="a"><path fill="var(--color-surface1)" d="M0 0h400v400H0z"/></clipPath></defs></svg>


<svg fill="none" class="cat cat-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><g clip-path="url(#a)"><path d="M27.102 373.895c7.041-6.035 25.047 4.039 22.113-16.395-1.153-16.976-9.746-46.275-12.26-54.071C33.81 293.684 39.235 260.817 10 249.5c-3.754-1.453 4.5-23.5 4.5-23.5s12.7 2.167 17.925-6.193c3.542-5.667 17.866-9.932 30.44-6.159 12.575 3.772 22.949 23.577 24.52 28.922 1.573 5.344 9.613 39.796 40.107 51.742 20.041 7.852 87.307-25.64 108.369 29.688C212.5 274 269.806 195.208 275 202c6.5 8.5-39.361 162.436-46 165.5-8.174 3.772-43.94 3.566-54 6.395-8.048 2.264-70.231 12.545-80.5-12.395-.21 22.32-38.477 19.186-43.507 26.228-5.03 7.041-18.233 3.772-30.493 3.772-.734-3.353-.44-11.569 6.602-17.605Z" fill="var(--color-text1)"/><path d="m36.011 194.658 7.23 23.577 19.177 1.572s2.515-5.973-1.572-10.374c-2.25-2.424-16.242-11.736-24.835-14.775Z" fill="var(--color-text1)"/><path d="M27.102 373.895c7.041-6.035 25.047 4.039 22.113-16.395-1.153-16.976-9.746-46.275-12.26-54.071C33.81 293.684 39.235 260.817 10 249.5c-3.754-1.453 4.5-23.5 4.5-23.5s12.7 2.167 17.925-6.193c3.542-5.667 17.866-9.932 30.44-6.159 12.575 3.772 22.949 23.577 24.52 28.922 1.573 5.344 9.613 39.796 40.107 51.742 20.041 7.852 87.307-25.64 108.369 29.688C212.5 274 269.806 195.208 275 202c6.5 8.5-39.361 162.436-46 165.5-8.174 3.772-43.94 3.566-54 6.395-8.048 2.264-70.231 12.545-80.5-12.395-.21 22.32-38.477 19.186-43.507 26.228-5.03 7.041-18.233 3.772-30.493 3.772-.734-3.353-.44-11.569 6.602-17.605Z" stroke="var(--color-text1)"/><path d="m36.011 194.658 7.23 23.577 19.177 1.572s2.515-5.973-1.572-10.374c-2.25-2.424-16.242-11.736-24.835-14.775Z" stroke="var(--color-text1)"/><path d="m37.375 223.356-.66-3.169c-1.366-.689-3.636 2.161-2.809 3.735l3.469-.566Z" fill="var(--color-brand)"/><path d="M235.309 372.821c5.331-1.428 4.664-34.821 4.664-34.821l-44.473 8.5c-1.333 8.929 10.661 31.973 0 38-5.297 2.995-9.056 10.866-9.5 14.437 9.551.447 30.498 3.709 26.654-4.017-2.666-5.358 17.324-20.67 22.655-22.099Z" fill="var(--color-text1)" stroke="var(--color-text1)"/></g><defs><clipPath id="a"><path fill="var(--color-surface1)" d="M0 0h400v400H0z"/></clipPath></defs></svg>

<svg class="cat cat-3" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><g clip-path="url(#a)"><path d="M22.047 233.684c7.029-6.051 25.001 4.049 22.072-16.436-1.15-17.018-9.727-46.39-12.237-54.206-3.138-9.77 2.277-42.718-26.905-54.063C1.23 107.522 9.47 85.42 9.47 85.42s12.676 2.173 17.892-6.208c3.536-5.682 17.832-9.957 30.384-6.175C70.296 76.82 80.65 96.673 82.22 102.031c1.569 5.358 41.544 73.668 71.981 85.643 20.004 7.871 51.405 48.12 58.891 87.718 30.443-35.588 72.551-159.662 78.854-153.882 11.479 10.526-74.475 199.145-78.854 205.009-5.989 8.02-30.883 16.607-40.925 19.444C164.135 348.232 89.25 268.002 79 243c-.21 22.376-28.084-2.509-33.105 4.551-5.02 7.059-18.2 3.781-30.437 3.781-.732-3.361-.44-11.597 6.59-17.648Z" fill="var(--color-text1)"/><path d="m30.94 54 7.217 23.636 19.141 1.576s2.51-5.988-1.569-10.4C53.483 66.382 39.517 57.047 30.94 54Z" fill="var(--color-text1)"/><path d="M22.047 233.684c7.029-6.051 25.001 4.049 22.072-16.436-1.15-17.018-9.727-46.39-12.237-54.206-3.138-9.77 2.277-42.718-26.905-54.063C1.23 107.522 9.47 85.42 9.47 85.42s12.676 2.173 17.892-6.208c3.536-5.682 17.832-9.957 30.384-6.175C70.296 76.82 80.65 96.673 82.22 102.031c1.569 5.358 41.544 73.668 71.981 85.643 20.004 7.871 51.405 48.12 58.891 87.718 30.443-35.588 72.551-159.662 78.854-153.882 11.479 10.526-74.475 199.145-78.854 205.009-5.989 8.02-30.883 16.607-40.925 19.444C164.135 348.232 89.25 268.002 79 243c-.21 22.376-28.084-2.509-33.105 4.551-5.02 7.059-18.2 3.781-30.437 3.781-.732-3.361-.44-11.597 6.59-17.648Z" stroke="var(--color-text1)"/><path d="m30.94 54 7.217 23.636 19.141 1.576s2.51-5.988-1.569-10.4C53.483 66.382 39.517 57.047 30.94 54Z" stroke="var(--color-text1)"/><path d="m31.952 83.25-.01-3.237c-1.2-.949-3.996 1.387-3.502 3.095l3.512.141Z" fill="var(--color-brand)"/><path d="M192.5 349.5c-12-11.5 12.564-45.5 12.564-45.5l-69.01 9.519c-1.454 9.753 26.828 59.238 15.192 65.821-5.782 3.271-9.697 15.117-10.182 19.018 10.424.488 33.286 4.051 29.091-4.388-2.909-5.852 34.345-32.97 22.345-44.47Z" fill="var(--color-text1)" stroke="var(--color-text1)"/></g><defs><clipPath id="a"><path fill="var(--color-surface1)" d="M0 0h400v400H0z"/></clipPath></defs></svg>

</div>

<script>
const container = document.querySelector('.container');
const catLast = document.querySelector('.cat-3');
let isAnimating = false;
container.onclick = () => {
  if (isAnimating) return;
  container.classList.toggle('-animating');
  isAnimating = true;
  catLast.addEventListener('animationend', () => {
    setTimeout(() => {
      container.classList.remove('-animating');
      isAnimating = false;
    }, 1000);
  });
}
</script>
