---
import {MY_EMAIL} from "@/config/index.ts"
---

<section class="note -info flow -layout-md">
  <p>Do you have any questions, feedback or just want to talk?</p>
  <p>
    <a href={`mailto:${MY_EMAIL}`}>{MY_EMAIL}</a>
  </p>
</section>

