---
import IconPageLink from "./icons/Icon-PageLink.astro"
---

<section class="box bg-surface2">
  <div class="flow -layout-m">
  <p>Hast du noch Fragen, Anmerkungen, Vorschläge oder möchtest einfach nur was loswerden?</p>
  <p>
    <a href="mailto:jshsj@hey.com">jshsj@hey.com</a>
  </p>
  </div>
</section>

