---
import {MY_EMAIL} from "@/config/index.ts"
---

<section class="note -info flow -layout-m">
  <p>Hast du noch Fragen, Anmerkungen, Vorschläge oder möchtest einfach nur was loswerden?</p>
  <p>
    <a href={`mailto:${MY_EMAIL}`}>{MY_EMAIL}</a>
  </p>
</section>

