---
import Themepicker from "./ThemePicker.astro"
import MobileNav from "./MobileNav.astro"
---
<style>
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-block: var(--s-2);
  background: var(--surface1);
  z-index: 999;
  border: var(--s-3) solid var(--text1);
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

</style>

<header class="layoutContainer">
  <div class="header-container">
    <div style="margin-left: auto;"><Themepicker></Themepicker></div>
  </div>
</header>