---
import Themepicker from "./ThemePicker.astro"
import { Navigation } from "@/config/index.ts"

const NavItems = [
  Navigation.start,
  Navigation.projects,
  Navigation.blogStart,
  Navigation.digitalGardenRoot,
  Navigation.now,
  Navigation.inZahlen
]
---

<style>
  header {
    width: 100%;
    padding-block: var(--size-relative-sm);
    background: var(--color-surface-1);
    z-index: 999;
    border-bottom: var(--border-thin) solid var(--color-text-1);
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--size-relative-md);
  }

  .navCluster {
    align-items: center;
  }

  .themepicker {
    margin-left: auto;
  }
</style>

<header>
  <div class="layout-container | pblock-0">
    <a href="#content-start" class="text-assistive">
      Skip to content
    </a>

    <div class="header-container full-width">
      <nav class="cluster | navCluster">
        {NavItems.map(item => (
        <a href={item.url}>{item.name}</a>
        ))}
      </nav>
      <div class="themepicker">
        <Themepicker></Themepicker>
      </div>
    </div>
  </div>
</header>
