---

---
<style lang="scss">
.scene {
  --width: 10em;
  --height: calc(var(--width) * var(--ratio));
  perspective: calc(var(--width) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  width: var(--width);
  height: var(--height);
  border: var(--s-5) solid var(--brand);
  margin: 0 2rem;
}

.block {
  --blockRotation: 0deg;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: translateZ(calc(var(--width) / -2)) rotateY(var(--blockRotation));
}



.side {
  position: absolute;
  width: var(--width);
  height: var(--height);
  background: var(--surface1);
  border: var(--s-2) solid var(--text1);
  display: flex;
}

.logo {
  color: var(--text1);
  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);
  align-self: center;
  margin: auto;
}

.-center {
  transform: rotateY(0) translateZ(calc(var(--width) / 2));
}

.-left {
  transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
}

.-back {
  transform: rotateY(180deg) translateZ(calc(var(--width) / 2));
  background: var(--text1);
}

.-right {
  transform: rotateY(90deg) translateZ(calc(var(--width) / 2));
  background: var(--brand);
}

@keyframes rotate-sideways {
  0% {
    transform: translateZ(calc(var(--width) / -2)) rotateY(0deg);
  }
  100% {
    transform: translateZ(calc(var(--width) / -2)) rotateY(-360deg);
  }
}
</style>

<div class="scene">
<div class="block">
  <div class="side -center"></div>
  <div class="side -right">
    <div class="logo">
    <svg viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.6443 222.174H90.6309M284.602 33.25V81.25M429.96 222.711H475.597M284.602 421.369V475.75" stroke="currentColor" stroke-width="16"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M283.75 427.799C366.658 414.512 430 342.653 430 256C430 159.902 352.098 82 256 82C171.186 82 100.545 142.683 85.1256 223H79.0183C94.5178 139.349 167.861 76 256 76C355.411 76 436 156.589 436 256C436 345.974 369.986 420.53 283.75 433.874V427.799Z" fill="currentColor" stroke="currentColor" stroke-width="12"/>
<path d="M238.282 150.228H269.423V360.698H238.282V150.228Z" fill="currentColor"/>
</svg>

    </div>
  </div>
  <div class="side -back"></div>
  <div class="side -left"></div>
  </div>
</div>
<script lang="ts">
let rotation = 0;
let animationHandle;

const block = document.querySelector(".block");

block.addEventListener("mouseenter", () => {
  animationHandle = requestAnimationFrame(updateRotationState);
})

block.addEventListener("mouseleave", () => {
  cancelAnimationFrame(animationHandle);
})

const updateRotationState = () => {
  rotation = rotation - 0.5;
  block.style.setProperty("--blockRotation", `${rotation}deg`)
  animationHandle = requestAnimationFrame(updateRotationState)
}
</script>
