---
const { title = 'Joshuas eigene Seite', description = "Das ist meine Seite für Portfolio, Gedanken und Zahlen. Schön, dass du da bist." } = Astro.props;
---
<meta charset="UTF-8">
<title>{title}</title>
<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={description} >


<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="stylesheet" type="text/css" href="/style/global.css">
<link rel="preload" href="/fonts/manrope-vf.ttf" as="font" type="font/ttf">