---
import IconPageLink from "./icons/Icon-PageLink.astro"
---


<section class="layout-container | peronalReel">
  <div class="stack">
  <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top-right"><span>Mehr von mir</span></h2>

  <div class="flow -layout-m">
  <p>Neben dem üblichen "Ich beschäftige mich gerne mit Tech-Zeug und bin sehr ambitioniert", gibt es auch noch andere Dinge, mit den ich meine Zeit verbringe.</p>
  <p>Statt hier viel Text über mich zu schreiben, möchte ich lieber einfach auf folgende Sachen verweisen:</p>
  <h3 class="typo-l -bold">
    <a href="/blog">Mein Blog</a>
  </h3>
  <p>Ein Blog über alles, worüber ich schreiben möchte. Vermutlich ein Mix aus Leben, Tech, Essen und mir.</p>

  <h3 class="typo-l -bold">
    <a href="/zeug">Zeug, das ich mag</a>
  </h3>
  <p>Eine Liste von Menschen, Ideen, Produkten und anderen Dingen, die mir gut gefallen und die ich daher teilen möchte.</p>


  <h3 class="typo-l -bold">
    <a href="/in-zahlen">Ich in Daten</a>
  </h3>
  <p>Lebenslauf, "Skills", Hobbies, Zahlen. Wichtig für manche, unwichtig für andere.</p>

  </div>
  </div>
</section>

