---
import {Navigation} from "@/config/index.ts"
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"
---


<section class="section layout-container | personalReel">
  <div class="stack -layout-xl">
  <h2 class="section-title typo-hollow -with-dot -dot-top-right"><span data-translate="aboutMe.headline">
  {getTranslation('aboutMe.headline', DE)}</span></h2>
  <div class="flow -layout-l">
  <p data-translate="aboutMe.intro" set:html={getTranslation('aboutMe.intro', DE)}></p>
  <h3>
    <a class="typo-xl -bold font-headline" href={Navigation.blogStart.url}
      data-translate="blog.headline"
    >{getTranslation('blog.headline', DE)}</a>
  </h3>
  <p data-translate="blog.intro">
  {getTranslation('blog.intro', DE)}</p>

  <h3>
    <a class="typo-xl -bold font-headline"
    href={Navigation.zeug.url}
    data-translate="thingsILike.headline"
    >{getTranslation('thingsILike.headline', DE)}</a>
  </h3>
  <p data-translate="thingsILike.intro">
  {getTranslation('thingsILike.intro', DE)}</p>


  <h3>
    <a class="typo-xl -bold font-headline" href={Navigation.inZahlen.url}
    data-translate="inData.headline"
    >{getTranslation('inData.headline', DE)}</a>
  </h3>
  <p data-translate="inData.intro" set:html={getTranslation('inData.intro', DE)}></p>

  </div>
  </div>
</section>

