---
import {getAllProjects} from  "../scripts/notion"
import IconPageLink from "./icons/Icon-PageLink.astro"

import ProjectList from "./ProjectList.astro"

const allProjects = await getAllProjects()
---


<section class="layoutContainer | projectReel">
  <div class="stack">
  <h2 class="typo-hollow typo-3xl -bold -with-dot" data-aside>Projekte</h2>
    <ProjectList projects={allProjects.slice(0, 3)}></ProjectList>
      <div class="cluster box" style="border: var(--s-5) solid var(--text2); background: var(--surface2)">
        <a href="/projekte" class="link-with-icon">
        <IconPageLink></IconPageLink><span>Alle Projekte</span></a>
        <a href="https://github.com/JSHSJ" target="_blank" rel="noopener noreferrer" class="link-with-icon"><IconPageLink></IconPageLink><span>GitHub</span></a>
      </div>
  </div>
</section>

