---
const {projects} = Astro.props;
---

<section class="stack">
{projects.map((project) => (
        <article class="stack -layout-3xs">
          <h3 class="typo-l -medium">{project.title}</h3>
          <p>{project.description}</p>
          <div class="cluster mt-s0">
          <a href={`/projekte/${project.slug}`} class="CTA-Button">Anschauen</a>
          </div>
        </article>
      ))}
</section>