---
import ProjectList from "./ProjectList.astro";

const {projects} = Astro.props;
---


<section class="section layout-container | projectReel">
<div class="with-sidebar full-width">
  <div class="stack -layout-2xl" data-grow style="--min-size: 60%">
  <h2 class="section-title typo-hollow -with-dot" data-aside><span
  >Projects
  </span></h2>
    <ProjectList projects={projects.slice(0, 3)}></ProjectList>
    </div>
    </div>
</section>

