---

---
<style>
.shareTheMeal {
  background-color: var(--text1);
  color: var(--surface1);
  padding-block: var(--s-1);
}


</style>

<section>
  <div class="layout-container shareTheMeal">
  <div class="with-sidebar -layout-m justify-between">
  <div data-grow style="--minSize: 80%">
  <p><b>Immer noch Hunger?</b>&nbsp;&nbsp;&nbsp;Mach was dagegen.</p>
  </div>
  <a target="_blank" class="CTA-button -secondary" href="https://sharethemeal.org/donate" rel="noopener noreferrer">
  Essen teilen
  </a>
  </div>
  </div>
</section>