---

---
<style>
.shareTheMeal {
  color: var(--color-text-1);
  border-top: var(--border-thin) solid var(--color-text-1);
  border-bottom: var(--border-thin) solid var(--color-text-1);
}

.shareTheMeal-sidebar {
  overflow: visible;
}

.shareTheMeal-content {
  padding-block: var(--scale-0);
}


</style>

<section>
  <div class="shareTheMeal">
  <div class="layout-container | shareTheMeal-content">
    <div class="with-sidebar -layout-m justify-between | shareTheMeal-sidebar full-width">
    <div data-grow style="--min-size: 60%">
    <p>
      <strong>Still hungry?</strong> Do something!
    </p>
    </div>
    <a  data-translate="share.cta" target="_blank" class="CTA-button" href="https://sharethemeal.org/donate" rel="noopener noreferrer">
    Share a meal
    </a>
    </div>
    </div>
  </div>
</section>
