---
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"
---
<style>
.shareTheMeal {
  color: var(--text1);
  border-top: var(--border-thin) solid var(--text1);
  border-bottom: var(--border-thin) solid var(--text1);
}

.shareTheMeal-sidebar {
  overflow: visible;
}

.shareTheMeal-content {
  padding-block: var(--s0);
}


</style>

<section>
  <div class="shareTheMeal">
  <div class="layout-container | shareTheMeal-content">
    <div class="with-sidebar -layout-m justify-between | shareTheMeal-sidebar full-width">
    <div data-grow style="--min-size: 60%">
    <p data-translate="share.text" set:html={getTranslation('share.text', DE)}>
    </p>
    </div>
    <a  data-translate="share.cta" target="_blank" class="CTA-button" href="https://sharethemeal.org/donate" rel="noopener noreferrer">
    {getTranslation('share.cta', DE)}
    </a>
    </div>
    </div>
  </div>
</section>
