---
export interface Props {
  headers: AstroMarkdownHeader[];
}
interface AstroMarkdownHeader {
  depth: number;
  slug: string;
  text: string;
}

const { headers } = Astro.props;
---
{headers.length > 0 ? (
<div class="sidebarNav">
  <nav class="sidebarNav-list stack standout-box">
    <h4>Kapitel</h4>
    <ul class="list-reset">
      {headers.map((header) => (
        <li>
          <a href={`#${header.slug}`}>{header.text}</a>
        </li>
      ))}
    </ul>
  </nav>
</div>
): null}

<style lang="scss">
  .sidebarNav {
    display: none;
  }


  @media screen and (min-width: 1440px) {
    .sidebarNav {
      grid-column-start: 2 !important;
      grid-column-end: 3 !important;
      grid-row-start: 1;
      padding-inline-end: var(--size-md);
      margin-inline-end: 0;
    }

    .sidebarNav-list {
      position: sticky;
      max-height: fit-content;
      height: fit-content;
      top: var(--headerHeight);
    }
  }
</style>
