---
export interface Props {
  headers: AstroMarkdownHeader[];
}
interface AstroMarkdownHeader {
  depth: number;
  slug: string;
  text: string;
}

const { headers } = Astro.props;
---
{headers.length > 0 ? (
<div class="sidebarNav">
  <nav class="sidebarNav-list stack standout-box">
    <h4>
    Chapter
    </h4>
    <ul class="list-reset">
      {headers.map((header) => (
        <li>
          <a href={`#${header.slug}`} class="sidebarNav-link" data-depth={header.depth}>{header.text}</a>
        </li>
      ))}
    </ul>
  </nav>
</div>
): null}

<style lang="scss">
  .sidebarNav {
    display: none;
  }


  @media screen and (min-width: 1560px) {
    .sidebarNav {
      display: block;
      grid-column-start: 2 !important;
      grid-column-end: 3 !important;
      grid-row-start: 1;
      padding-inline-end: var(--size-relative-md);
      margin-inline-end: 0;
    }

    .sidebarNav-list {
      position: sticky;
      max-height: fit-content;
      height: fit-content;
      top: var(--scale-5);
    }

    .sidebarNav-link {
      &[data-depth="3"] {
        margin-left: var(--size-base-md);
      }
      &[data-depth="4"] {
        margin-left: calc(var(--size-base-md) * 2);
      }
    }
  }
</style>
