---
export interface Props {
  headers: AstroMarkdownHeader[];
}
interface AstroMarkdownHeader {
  depth: number;
  slug: string;
  text: string;
}

const { headers } = Astro.props;
---
{headers.length > 0 ? (
<div class="sidebarNav">
  <nav class="sidebarNav-list stack">
    <h4>Kapitel</h4>
    <ul class="list-reset">
      {headers.map((header) => (
        <li>
          <a href={`#${header.slug}`}>{header.text}</a>
        </li>
      ))}
    </ul>
  </nav>
</div>
): null}

<style lang="scss">
  .sidebarNav {
    display: none;

    @media screen and (min-width: 1440px) {
    }
  }

  @media screen and (min-width: 1440px) {
    .sidebarNav {
      display: block;
      grid-column-start: 1 !important;
      grid-column-end: 2 !important;
      padding-inline-end: var(--size-md);
    }

    .sidebarNav-list {
      position: sticky;
      max-height: fit-content;
      height: fit-content;
      top: var(--headerHeight);
      padding-block: var(--size-md);
      padding-inline: var(--size-md);
      background: var(--text1);
      color: var(--surface1);

      h4 {
        color: inherit;
      }

      a {
        color: inherit;
      }
    }
  }
</style>
