---
interface Props {
  tags: string[];
  tagName: string;
  tagRootUrl: string;
  selected: string;
}
const {tags, tagName, tagRootUrl, selected} = Astro.props;
---

<div class="stack -layout-s | tagFilter">
<p>Filter nach {tagName}: </p>
<ul class="list-reset cluster">
  {tags.map(tag => (
    <li >
      <a class={`CTA-Button -secondary -small${tag.toLowerCase() === selected.toLowerCase() ? ' -active': ''}`} href={`${tagRootUrl}${tag.toLowerCase()}`} aria-current={tag.toLowerCase() === selected.toLowerCase()}>{tag}</a>
    </li>
  ))}
</ul>
</div>