<style lang="scss">
.theme-toggle {
  height: auto;
  justify-content: space-between;
  display: flex;
  width: var(--size-2xl);
  height: var(--size-2xl);
  padding: 0;
  border-width: 0;
  position: relative;
  background-color: var(--surface1);
  cursor: pointer;
  border-radius: 50%;
  border: var(--border-thin) solid var(--text1);
  box-shadow: var(--shadow-default);
}

.theme-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

[data-light] {
    color: var(--surface2);
  }

[data-dark] {
    opacity: 48%;
}

@media (prefers-color-scheme: dark) {
  [data-light] {
    opacity: 48%;
    color: transparent;
  }
  [data-dark] {
    opacity: 100%;
}
}

[color-scheme="light"] {
  [data-light] {
    color: var(--surface2);
  }
  [data-dark] {
    opacity: 48%;
  }
}

[color-scheme="dark"] {
  [data-light] {
    opacity: 48%;
    color: transparent;
  }
  [data-dark] {
    opacity: 100%;
}
}

</style>

<div>
  <button class="theme-toggle" title="Theme Picker">
    <svg fill="var(--text1)" xmlns="http://www.w3.org/2000/svg" class="theme-icon moon" data-dark viewBox="0 0 64 64"><path d="M33.5 23.601c1.167.334 5.5-4.082 5-5.585M56 32.04C56 44.656 46.298 55.002 33.96 56A23.972 23.972 0 0040 40.053c0-13.277-10.745-24.04-24-24.04-.66 0-1.313.027-1.959.08C18.438 11.127 24.854 8 32.001 8c13.254 0 24 10.763 24 24.04zM33.771 17.015a1 1 0 11-2.002.001 1 1 0 012.002-.001z" stroke="var(--surface1)"/></svg>

    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="theme-icon sun" data-light><path d="M14.107 16.074C9.93 20.393 8 25.514 8 31.998c0 13.255 10.745 24 24 24 .66 0 1.313-.026 1.959-.079M14.107 16.074A22.753 22.753 0 0116 15.998m-1.893.076c.301-.011 1.59-.076 1.893-.076m-1.893.076L20 12v3.5l7-4-.5 6L37 13l-4.5 7.5 12-5-7.5 11 12.5-3L40 33l10 .5-9 6.5 8.5 3-9.5 3 3.5 4-6 2 1.5 2-5.041 1.92m0 0a23.91 23.91 0 006.04-15.922M33.96 55.92c3.397-4.14 6.04-10.147 6.04-15.92m0 0c0-13.256-10.744-24-24-24M38.5 47.5c-1.333.667-5.2 1.3-6 .5m-.5-6a1 1 0 11-2 0 1 1 0 012 0z" stroke="var(--text1)"/></svg>

  </button>
</div>

<script lang="ts">
const DARK = '(prefers-color-scheme: dark)'
const LIGHT = '(prefers-color-scheme: light)'

const colorScheme = localStorage?.getItem("color-scheme");
const button = document.querySelector(".theme-toggle");


if (colorScheme) {
  document.body.setAttribute('color-scheme', colorScheme);
  button.setAttribute('color-scheme', colorScheme);
} else if (window.matchMedia(DARK)) {
  document.body.setAttribute('color-scheme', 'dark');
  button.setAttribute('color-scheme', 'dark');
} else {
  document.body.setAttribute('color-scheme', 'light');
  button.setAttribute('color-scheme', 'light');
}

button.addEventListener('click', () => {
  const currentTheme = document.body.getAttribute('color-scheme');
  if (currentTheme === "dark") {
    document.body.setAttribute('color-scheme', 'light');
    button.setAttribute('color-scheme', 'light');
    localStorage.setItem('color-scheme', 'light')
  } else {
    document.body.setAttribute('color-scheme', 'dark');
    button.setAttribute('color-scheme', 'dark');
    localStorage.setItem('color-scheme', 'dark')
  }
})
</script>
