---
import Logo from "./Logo.astro"
import {MY_EMAIL} from "@/config/index.ts"
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"
---
<style lang="scss">

.welcomeContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-block: var(--size-3xl);
}

.welcomeSidebar {
  align-items: center;
  width: 100%;
  height: max-content;
  --gap: var(--s3);
}

.logo {
   display: flex;
   justify-content: start;
   width: 100%;
   max-width: 24em;
}

.welcomeStack {
  --min-size: 48%;
  align-items: flex-start;
  align-self: flex-start;

  dd {
    margin-inline: 0;
    margin-top: 0;
    font-size: var(--s1);
  }

  h1 {
    margin-inline: 0;
    margin-top: 0;
    font-size: var(--s1);
    --fontWeight: initial;
  }

}
</style>

<section class="layout-container | welcomeContainer">
<div class="with-sidebar | welcomeSidebar full-width">
<div class="logo" data-aside>
            <Logo></Logo>
            </div>
            <dl class="stack -layout-s | welcomeStack" data-grow>
                <div>
                  <dt data-translate="welcome.greeting">
                  {getTranslation('welcome.greeting', DE)}
                  </dt>
                  <dd>
                  <h1>Joshua Stübner</h1>
                  </dd>
                </div>
                <div>
                  <dt data-translate="welcome.workAs">
                  {getTranslation('welcome.workAs', DE)}
                  </dt>
                  <dd data-translate="welcome.jobTitle">
                    {getTranslation('welcome.jobTitle', DE)}
                  </dd>
                </div>
                <div>
                  <dt data-translate="welcome.atTheMoment">
                    {getTranslation('welcome.atTheMoment', DE)}
                  </dt>
                  <dd data-translate="welcome.workLocation">
                    {getTranslation('welcome.workLocation', DE)}
                  </dd>
                </div>
                <div>
                  <dt data-translate="welcome.getInContact">
                   {getTranslation('welcome.getInContact', DE)}
                  </dt>
                  <dd>
                  <a href={`mailto:${MY_EMAIL}`}>{MY_EMAIL}</a>
                  </dd>
                </div>
            </dl>
        </div>
</section>
