---
import { slugify } from '@/utils/slugify';
import TagFilter from "@/src/components/TagFilter.astro";

import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { GardenIdea } from "@/src/types/GardenIdea.type";
import { Navigation } from "@/src/config";
import IdeaList from '@/src/components/IdeaList.astro';

const sortByTitle = (a: GardenIdea, b: GardenIdea) => {
  if (a.title < b.title) {
    return -1;
  }
  if (a.title > b.title) {
    return 1;
  }
  return 0;
}

const allIdeas = await Astro.glob<GardenIdea>("/src/content/DigitalGarden/**/*.md");
const allTags = Array.from(new Set(allIdeas
.map(idea => idea.frontmatter.tags)
.reduce((allTags, tags) => [...allTags, ...tags], [])
.map(tag => slugify(tag))));

const formattedIdeas = allIdeas.map(project => ({
    ...project.frontmatter,
    slug: slugify(project.frontmatter.title),
})).sort(sortByTitle)

---
<DefaultLayout title={"Digital Garden"} description={"A collection of many things. Cultivated like a garden."} canonical={new URL(Astro.url.pathname, Astro.site)}>

<div class="section layout-container mt-header">
    <div class="stack -layout-xl">
    <h1 class="section-title -with-dot -dot-top">
        Digital Garden
    </h1>
    <p>My personal digital garden with lots of personal notes, ideas, small snippets and love. <i>Like a garden, always WIP.</i></p>
    <section>
      <TagFilter hasReset={true} tags={allTags.map(tag => tag.toLowerCase())} tagName="Categories" tagRootUrl={`${Navigation.digitalGardenTagPage.url}/`} selected="" hasPagination={false} />
    </section>
    <IdeaList ideas={formattedIdeas} />
    </div>
</div>
</DefaultLayout>
