---
import type {Project} from "@/types/Project.type"
import { slugify } from '@/utils/slugify';
import { sortByDateDesc } from '@/utils/sortByDate';

import DefaultLayout from "@/layouts/DefaultLayout.astro";
import ProjectList from "@/components/ProjectList.astro"

const allProjects = await Astro.glob<Project>("/src/content/Projekte/*.md");
const formattedProjects = allProjects.map(project => ({
    ...project.frontmatter,
    slug: slugify(project.frontmatter.title),
})).sort(sortByDateDesc)

---
<DefaultLayout title={"My projects"} description={"Most of the projects I've made. Mostly websites."} canonical={new URL(Astro.url.pathname, Astro.site)}>

<div class="section layout-container mt-header">
    <div class="stack -layout-xl">
    <h1 class="section-title -with-dot -dot-top">
        Projects
    </h1>
    <ProjectList projects={formattedProjects}></ProjectList>
    </div>
</div>
</DefaultLayout>
