---
import MainHead from '../components/MainHead.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { content, title, description, canonical } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
<head>
    <MainHead title={title} description={description} canonical={canonical} />
</head>
  <body>
    <Header></Header>
    <main class="relative">
      <slot />
    </main>
    <Footer></Footer>
  </body>
</html>