@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans[wght].ttf') format('truetype');
  font-display: optional;
  font-weight: 100 900;
}
@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO0.4-Regular.woff2') format("woff2"), url('/assets/fonts/MDIO0.4-Regular.woff') format("woff");
  font-display: optional;
  font-weight: 400;
}

:root {
    /* TYPOGRAPHY */
  --measure: 64ch;
  --fontFamilySans: "Work Sans", system-ui, sans-serif;
  --fontFamilySerif: serif;
  --fontFamilyMono: "MD IO", monospace;
  --fontWeightRegular: 400;
  --fontWeightMedium: 592;
  --fontWeightBold: 876;
  --lineHeight: 1.48;
  --lineHeight-small: 1.24;
}
